body {
  background-color: #f8ecc2;
  color: #464237;
  font-family: "Literata", Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 650px;
  padding: 0 10px;
  text-align: justify;
}

footer {
  font-size: 12px;
  padding-top: 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  text-align: center;
}

header {
  border-bottom: 1px solid #aabd87;
  font-size: 0.5em;
  margin: 0;
  text-align: right;
}

header a {
  text-decoration: none;
}

header>h1 {
  text-align: right;
}

img {
  display: block;
  margin: 0 auto;
}

code {
  background: #c2cef8;
  color: #373B46;
  border: 1px solid;
  display: block;
  font-size: 12px;
  padding: 20px;
  word-break: break-all;
  text-overflow: clip;
  overflow: hidden;
}

.index h2 {
  font-size: 1.6em;
  border-bottom: 1px solid #aabd87;
  margin: 0;
}

.index h3 {
  padding-left: 4em;
  font-size: 1.4em;
  margin: 0;
}

address {
  padding: 2em;
  text-align: center;
}